.title {
  font-size: 32px;
  text-align: center;
  color: #32264d;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

  padding: 10px;
  width: 500px;
  background-color: #fff;

  border: 2px solid #f0f0f7;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);

  transition: transform 0.5s;
}

.list:hover {
  transform: scale(1.1);
  z-index: 100;
  background: #25bcff;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  color: #fff;
  cursor: pointer;
}

.image {
  width: 110px;
  height: 150px;
  margin-right: 15px;
}

.image_book {
  height: 100%;
  width: 100%;
}

.info_book {
  height: 150px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info_text {
  font-size: 15px;
}

.info_action {
  display: flex;
  justify-content: space-between;
}

.button {
  position: relative;
  text-decoration: none;
  font-size: 15px;
  width: 100px;
  text-align: center;
  border: 2px solid #f0f0f7;
  border-radius: 3px;
  transition: all 0.3s ease;
  color: #32264d;
}

.button:hover {
  background-color: #25bcff;
  color: #fff;
}

.usuario {
  font-size: 15px;
}
